<!DOCTYPE html>
<html ng-app="message">
<head>
  <meta charset="utf-8">
  
  <title>Hoge</title>
  
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  
  <!-- Frameworks -->
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <!-- Angular modules -->
  <!--<script src="./bluetooth_module.js"></script>-->
  <script src="./udp_module.js"></script>
</head>
<body>
  <!--<ul ng-controller="BluetoothSelectController">-->
  <!--  <li ng-repeat="device in devices">-->
  <!--    <span>Address: {{device.address}}</span>-->
  <!--    <p>Name: {{device.name}}</p>-->
  <!--    <button class="btn btn-small btn-info" ng-click="onSelectDevice(device.address)">Select</button>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <button class="btn btn-success" ng-click="updateScannedDevices()">Update device list</button>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <p>{{selectedDevice.name}}</p>-->
  <!--  </li>-->
  <!--</ul>-->

  <!--<div ng-controller="BluetoothConnectionController">-->
  <!--  <form class="simple-form">-->
  <!--    <input type="text"></input>-->
  <!--    <input type="button" ng-click="send()" value="Send"></input>-->
  <!--  </form>-->
  <!--</div>-->
  <script type="text/ng-template" id="T_inProgress">
    <div class="modal-header">
        <h3>
            <span ng-show="remotingProgress < 100">処理中</span>
            <span ng-show="remotingProgress == 100">完了</span>
        </h3>
    </div>
    <div class="modal-body">
        <div>{{remotingStatus}}</div>
        <progressbar ng-class="(remotingProgress < 100) ? 'progress-striped active' : 'progress'" value="remotingProgress" type="success"></progressbar>
    </div>
    <div class="modal-footer" ng-show="remotingProgress == 100">
        <button type="button" class="btn btn-success" ng-click="$close()">閉じる</button>
    </div>
  </script>

  <div ng-controller="UdpConnectionController">
    <h1>Network Interfaces</h1>
    <ul>
      <li ng-repeat="if in interfaces">
        <span>Name: {{if.name}}</span>
        <p>Address: {{if.address}}</p>
      </li>
    </ul>
    
    <form class="simple-form">
      <input type="text" name="message" ng-model="newMessage"></input>
      <input type="button" ng-click="onSend()" value="UDP Send"></input>
    </form>
    
    <ul>
      <li ng-repeat="message in messageRepo">
        <span>Socket ID: {{message.socketId}}</span>
        <p>Data: {{message.data}}</p>
      </li>
    </ul>
  </div>
</body>
</html>
