<!DOCTYPE html>
<html ng-app="burning">
<head>
  <title>BurningChat</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  
  <script type="text/javascript" src="chat_group.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="contents.js"></script>
</head>

<body>
  <h3 id="greeting"></h3>
  <div id="contents">
    <div id="navigation_panel" ng-controller="NavigationPanelController">
      <div id="group_header">
        <h2>{{group.getName()[0]}}</h2>
        <p>{{group.getName()}}</p>
      </div>
      <div id="group_members_list">
        <h3>Group Members</h3>
        <ul>
          <li ng-repeat="member in group.getMemberArray()" >
            <p id={{youOrNot(member)}}>{{member.getRegItem().getName()}}</p>
          </li>
        </ul>
      </div>
      <div id="navigation_tool">
        <img src="./assets/settings.png" width="28px" height="28px" />
      </div>
    </div>
    <div id="message_area">
      <div id="time_line" ng-controller="TimeLineController">
        <div ng-repeat="message in group.getMessageArray()">
          <div id="time_line_item">
            <h2 id="initial">{{message.getUser().getRegItem().getName().toUpperCase()[0]}}</h2>
            <p id="name">{{message.getUser().getRegItem().getName()}}</p>
            <p id="text_message">{{message.getBody()}}</p>
            <img id="image_message" src="./assets/misoton.png" height="100px" ng-hide="{{message.getImage() == null}}"/>
          </div>
        </div>
      </div>
      <div id="mention_form">
        <h3>Mention Form</h3>
      </div>
    </div>
    
  </div>
</body>
</html>
