<!DOCTYPE html>
<html ng-app="burning">
<head>
  <title>BurningChat</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  
  <!-- Components -->
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
  
  <script type="text/javascript" src="./BurningChatScala/target/scala-2.11/burningchatscala-fastopt.js"></script>
  <!--<script type="text/javascript" src="chatgroup.js"></script>-->
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="contents.js"></script>
</head>

<body>
  <h3 id="greeting"></h3>
  <div id="contents">
    <div id="navigation_panel" ng-controller="NavigationPanelController">
      <div class="inout_animation" ng-if="!toolsOpened">
      <div id="group_header">
        <h2>{{group.name.toUpperCase()[0]}}</h2>
        <p>{{group.name}}</p>
      </div>
      <div id="group_members_list">
        <h3>Group Members</h3>
        <ul>
          <li ng-repeat="member in group.memberArray" >
            <p id={{youOrNot(member)}}>{{member.regItem.name}}</p>
          </li>
        </ul>
      </div>
      </div>
      <div class="inout_animation" ng-if="toolsOpened">
        <h3>Moge-</h3>
      </div>
      <div id="navigation_tool">
        <img class="rotate_hover_animation" ng-click="onToolClick()" src="./assets/settings.png" width="28px" height="28px" />
      </div>
    </div>
    <div id="message_area">
      <div id="time_line" ng-controller="TimeLineController">
        <div ng-repeat="message in group.messageArray">
          <div id="time_line_item">
            <h2 id="initial" ng-style="toStyle(message.member.userColor)">{{message.member.regItem.name.toUpperCase()[0]}}</h2>
            <p id="name">{{message.member.regItem.name}}</p>
            <p id="text_message">{{message.body}}</p>
            <img id="image_message" src="./assets/misoton.png" height="100px" ng-hide="{{message.image == null}}"/>
          </div>
        </div>
      </div>
      <div id="mention_form">
        <form>
          <input type="image" src="./assets/plus.png" height="44px" width="44px"/>
          <input type="text"/>
        </form>
      </div>
    </div>
    
  </div>
</body>
</html>
