/* CSS file placeholder. */

input:focus {
  outline: none;
}

#contents {
  height: 100%;
  background: #FFF8E1;
}

#navigation_panel {
  color: #EFEBE9;
  background: #FF6F00;
  width: 240px;
  float: left;
  top: 0;
  position: fixed;
  height: 100%;
  margin-right: 14px;
  z-index: 1;
  box-shadow: 0px 0px 14px -2px #444;
}

#group_header {
  border-radius: 4px;
  box-shadow: 0px 0px 6px -2px #444;
  background: #FF8F00;
  margin: 6px;
}

#group_header p {
  padding-top: 20px;
  left: 70px;
  width: 170px;
  height: 70px;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

#group_header h2 {
  color: #5D4037;
  padding: 10px;
  margin: 0 auto;
  float: left;
  font-family: Georgia;
}

#group_members_list {
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px -2px #444;
  background: #FF8F00;
  margin: 6px;
}

#group_members_list h3 {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

#group_members_list p#you {
  color: #6D4C41;
}

#navigation_tool {
  background: #FF5F20;
  position: fixed;
  bottom: 0;
  width: 240px;
  box-shadow: 0px 0px 6px -2px #444;
  margin-top: 6px;
}

#navigation_tool img{
  padding: 10px;
  height: 48px;
  width: 48px;
}

#main_area {
  color: #3E2723;
  background: #FFF8E1;
  height: 100%;
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  right: 0;
  left: 240px;
  float: right;
  margin: 0 auto;
  color: #3E2723;
  background: #FFF8E1;
}

#message_area {
  color: #3E2723;
  background: #FFF8E1;
  height: 100%;
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  right: 0;
  left: 240px;
  float: right;
  margin: 0 auto;
}

#time_line {
  color: #3E2723;
  background: #FFF8E1;
  overflow-y: scroll;
  float: top;
  height: 100%;
  width: 100%;
  bottom: 48px;
  padding-bottom: 52px;
}

#time_line_item {
  margin: 8px;
  border-bottom: solid 1px #aaa;
}

#time_line_item #initial {
  float: left;
  margin: 10px;
  padding: 2px;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: #f44336;
  color: #FFF8F1;
  box-shadow: 0px 0px 6px -2px #000;
}

#time_line_item #name {
}

#time_line_item #text_message {
  word-break: break-all;
}

#time_line_item #image_message {
  display: block;
  margin: 4px auto;
  border: solid 1px #888;
}

#mention_form {
  position: absolute;
  bottom: 0px;
  height: 48px;
  width: calc(100% - 16px);
  color: #3E2723;
  border: 2px solid #aaa;
  border-radius: 4px;
  background: #FFECB3;
  box-shadow: 0px 0px 6px -2px #000;
  margin: 6px;
}

#mention_form input[type="image"]:hover {
  background: #FFCC80;
  margin: auto auto;
}

#mention_form #message_sender {
  display: none;
}

#mention_form input[type="text"] {
  float: right;
  border: 0;
  right: 0;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  color: #222;
  border-left: 2px solid #aaa;
  height: 100%;
  background: #FFECB3;
  width: calc(100% - 44px);
  padding: 10px;
}

.inout_animation.ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
}

.inout_animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.rotate_hover_animation:hover {
  animation: rotate 0.8s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

#group_selection {
  color: #3E2723;
  background: #FFF8E1;
  height: 100%;
  position: fixed;
  width: 400px;
  top: 0;
  right: 0;
  left: 240px;
  float: right;
  margin: 0 auto;
}

#group_selection h2{
  text-align: center;
}

#group_item {
  text-align: center;
  padding: 30px;
}

#group_item:hover{
  background: #FFE0B2;
}

#group_item h3{
  margin: auto auto;
}

#group_item #join_group_button {
  right: 0;
}